@import "/styles/base";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  margin: $container-margin;
  width: $container-width;

  .actions {
    display: flex;
    align-items: center;
  }

}

@media screen and (max-width: 1280px) {
  .container {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 80px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 70px;
    margin: 0 auto;
  }
}



