@import "styles/base";

.container {
  margin: 100px auto;
  width: $container-width;
  font-family: $primary-font;

  .heading {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 50px;

    .alignCenter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .borderPrimary {
        border: 1px solid $primary-color;
        width: 200px;
      }

      .borderWhite{
        border: 1px solid $white;
        width: 200px;
        margin-top: 3px;
      }

      h1 {
        font-size: $medium-heading;
        text-transform: uppercase;
        margin: 0;
        color: $white;
        -webkit-text-fill-color: $white;
      }

      h3 {
        font-weight: 500;
        margin: 5px 0;
        font-size: $small-heading;
        color: $primary-color;
        -webkit-text-fill-color: $primary-color;
      }
    }


    .logos {
      display: flex;
      align-items: center;
      gap: 50px;
      svg {
        width: 60px;
      }
    }



  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .content {
      h1 {
        font-size: $large-heading;
        margin: 0;
        color: $white;
        -webkit-text-fill-color: $white;
      }
      p {
        color: $white;
        -webkit-text-fill-color: $white;
      }
    }

    .image img {
      width: 800px;
    }
  }
}


@media screen and (max-width: 1440px) {
  .container {
    .heading {
      .alignCenter {
        h1 {
          font-size: 28px;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
    .banner {
      .image img {
        width: 450px;
      }
    }
  }

}

@media screen and (max-width: 1280px) {
  .container {
    .heading {
      gap: 20px;

      .logos {
        gap: 20px;
        svg {
          width: 80px;
        }
      }

      .alignCenter {
        h1 {
          font-size: 22px;
        }
        h3 {
          font-size: 16px;
        }

      }
    }
    .banner {
      .image img {
        width: 450px;
      }
    }
  }

}


@media screen and (max-width: 768px) {

  .container {
    .heading {
      gap: 20px;

      .logos {
        gap: 20px;
        svg {
          width: 60px;
        }
      }

      .alignCenter {
        h1 {
          font-size: 16px;
        }
        h3 {
          font-size: 12px;
        }

      }
    }

    .banner {
      .image img {
        width: 350px;
      }

      .content {
        font-size: 10px;

        h1 {
          font-size: 26px;
        }
      }

    }
  }
}

@media screen and (max-width: 640px) {

  .container {

    .heading {
      gap: 20px;
      flex-direction: column;
      align-items: center;

      .logos {
        gap: 20px;
        svg {
          width: 60px;
        }
      }

      .alignCenter {
        h1 {
          font-size: 14px;
        }
        h3 {
          font-size: 11px;
        }

        .borderWhite, .borderPrimary {
          width: 100px;
        }


      }

    }


    .banner {
      flex-direction: column-reverse;

      .image img {
        width: 300px;
        flex: 1;
      }

      .content {
        text-align: center;
        font-size: 10px;

        h1 {
          font-size: 20px;
          font-weight: 800;
          margin: 0;
        }
      }
    }
  }

}


@media screen and (max-width: 320px) {
  .container {

    .heading {
      gap: 10px;
      flex-direction: column;
      align-items: center;

      .logos {
        gap: 10px;
        svg {
          width: 60px;
        }
      }

      .alignCenter {
        h1 {
          font-size: 12px;
        }
        h3 {
          font-size: 10px;
        }

        .borderWhite, .borderPrimary {
          width: 100px;
        }


      }

    }

    margin: 30px auto;
  }
}