@import '/styles/base';

.container {
  border-radius: 50px;
  margin: $container-margin;
  width: 100%;
  font-family: $primary-font;
  position: relative;


  .eachSlideEffect > div {
    display: flex;
    align-items: center;
    background-size: cover;
    height: 600px;
  }

  .content {
    width: 100%;
    padding: 0 50px;
    z-index: 2;
    text-align: right;
    position: absolute;
    top: 20%;

    h1 {
      margin: 0;
      font-size: $large-heading;
      color: $white;
      -webkit-text-fill-color: $white;
    }

    p {
      font-size: $large-paragraph;
      color: $white;
      -webkit-text-fill-color: $white;
    }
  }

}


@media screen and (max-width: 1280px) {
  .container {

    .eachSlideEffect > div {
      height: 500px;
    }

    .content {

      h1 {
        font-size: $medium-heading;
      }

    }
  }
}


@media screen and (max-width: 768px) {
  .container {
    .eachSlideEffect > div {
      height: 400px;
    }

    .content {
      padding: 0 50px;

      h1 {
        font-size: 35px;
        line-height: 35px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    margin: $container-margin;
    .eachSlideEffect > div {
      height: 300px;
    }
    .content {
      top: 12%;

      h1 {
        font-size: $small-heading;
      }

      p {
        font-size: $small-paragraph;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin: $container-margin;

    .content {
      padding: 40px;

      h1 {
        font-size: $large-paragraph;
        margin: -10px;
      }

      p {
        font-size: $small-paragraph;
      }
    }
  }
}