@import "/styles/base";

.container {
  margin: 20px 0;
  background-image: url("/images/novel-banner.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: end;
  padding: 0 100px;
  font-family: $primary-font;
}

@media screen and (max-width: 640px) {

  .container {
    justify-content: center;
    text-align: center;
    padding: 0 10px;
  }

}