@import "styles/base";

.container {
  margin: 20px;
  font-family: $primary-font;

  .heading {
    h1 {
      font-size: 36px;
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;

    .item {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      h2, h3 {
        text-transform: uppercase;
        color: $secondary-color;
        margin: 0;
      }

      .icon {
        width: 100px;
        height: 100px;
        border: 2px solid $secondary-color;
        rotate: 45deg;
        margin: 40px 0;

        img {
          width: 50px;
          height: 95px;
          rotate: 315deg;
        }
      }

      small {
        color: $secondary-color;
      }

      ul {
        margin: 15px 0;
        padding: 0;

        li {
          list-style: none;
          font-size: 14px;
        }
      }

    }

    .item:hover, .item.active {
      h2, h3, small {
        color: $primary-color;
      }

      .icon {
        border: 2px solid $primary-color;
      }
    }

  }
}


@media screen and (max-width: 1280px) {


  .container {
    .items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

}


@media screen and (max-width: 640px) {

  .container {
    .items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}