@import '../../../styles/base';

.navigation {
  ul {
    text-align: right;
    list-style-type: none;
    margin: 0;

    li {
      color: white;
      margin: 0 15px;
      padding: 20px 10px;
      font-size: 20px;
      text-align: left;
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      font-family: $primary-font;
      border-bottom: 2px solid #0F1214;
      transition: $transition;
    }

    li:hover {
      cursor: pointer;
      border-bottom: 2px solid $primary-color;
      transition: $transition;
    }

    .active {
      font-weight: 600;
      border-bottom: 2px solid $primary-color;
      transition: $transition;
    }
  }
}

