@import "/styles/base";

.container {
  margin: $container-margin;
  width: $container-width;
  font-family: $primary-font;

  h1 {
    font-size: $medium-heading;
    text-transform: uppercase;
    margin: 50px 0;
    color: $white;
    -webkit-text-fill-color: $white;
  }

  .faqsListItems {
    .listItem {
      background-color: $gray;
      padding: 0 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      transition: $transition;



      .listItemHeader {
        color: $primary-color;
        font-weight: 500;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        img {
          transition: $transition;
        }
      }

      .listItemHeaderActive img {
        rotate: 180deg;
        transition: $transition;
      }

      .listItemContent {
        font-size: 15px;
        padding-bottom: 20px;
        display: none;
      }
      .listItemContentActive {
        display: block;
      }



    }
  }
}


@media screen and (max-width: 1280px) {
  .container {
    margin: $container-margin;
    width: $container-width;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: $container-margin;
    width: $container-width;
    h1 {
      font-size: $small-heading;
      margin-bottom: 15px;
    }

    .faqsListItems {
      .listItem {
        margin-bottom: 10px;

        .listItemHeader {
          font-size: 15px;
        }
        .listItemContent {
          font-size: 13px;
        }
      }
    }
  }

}


@media screen and (max-width: 320px) {
  .container {
    margin: $container-margin;
    width: $container-width;
    h1 {
      font-size: $small-heading;
      margin-bottom: 15px;
    }

    .faqsListItems {
      .listItem {
        margin-bottom: 10px;

        .listItemHeader {
          font-size: 12px;
        }
        .listItemContent {
          font-size: 11px;
        }
      }
    }
  }

}