.faq {

}

.faq h2 {
  color: #FFA73C;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.faq ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.faq ul li {
  color: white;
  font-family: 'Montserrat';
}