@import "/styles/base";

.tournamentCard {
  background-color: #1e1e1e;
  border-radius: 25px;
  padding: 25px;
  gap: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  font-family: $primary-font;
  position: relative;

  .cardImage img {
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
    filter: grayscale(100%);
  }

  .star {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .cardHeader {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      width: 150px;
    }

    p {
      border-left: 2px solid white;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;

      span {
        color: $secondary-color;
        font-size: 18px;
      }
    }
  }


  .cardDateTime {
    display: flex;
    gap: 25px;
    margin: 20px 0;
    font-size: 13px;
    font-weight: 500;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    img {
      width: 20px;
      height: 20px;
    }

    span {
      background-color: $secondary-color;
      padding: 3px 10px;
      border-radius: 5px;
      text-transform: uppercase;
      color: $black;
      font-weight: 800;
    }
  }

  .cardContent p {
    line-height: 25px;
    font-size: 17px;
  }

  .cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cardFooterPoints {
      gap: 5px;
      display: flex;
      align-items: center;
      font-size: 13px;

      img {
        width: 22px;
        height: 20px;
      }
    }

    .cardFooterActions {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-weight: 800;
        font-size: 17px;

        span {
          color: $primary-color;
        }
      }
    }
  }

}

@media screen and (max-width: 1280px) {
  .tournamentCard {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;

    .cardFooter {
      gap: 10px;

      .cardFooterActions {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 13px;

          span {
            color: $primary-color;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .tournamentCard {
    grid-template-columns: 1fr 3fr;
  }
}


@media screen and (max-width: 768px) {
  .tournamentCard {
    border-radius: 25px;
    padding: 25px;
    gap: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;

    .cardFooter {
      gap: 10px;

      .cardFooterActions {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .tournamentCard {
    grid-template-columns: 0fr 1fr;

    .cardHeader {
      gap: 10px;

      img {
        width: 120px;
      }

      p {
        padding: 5px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
      }
    }
    .cardDateTime {
      gap: 10px;
      margin: 5px 0;
      font-size: 11px;

      img {
        width: 15px;
        height: 15px;
      }
    }


    .cardContent p {
      line-height: 22px;
      font-size: 13px;
    }

    .cardFooter {
      gap: 5px;

      .cardFooterActions {
        gap: 5px;

        p {
          font-size: 11px;
        }
      }
    }
  }
}
