@import "/styles/base";

.upcoming {
  margin: 50px;
  font-family: $primary-font;

  h2 {
    color: $primary-color;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .tournamentCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 150px
  }

  .viewMoreLink {
    text-align: right;
  }
}
