@import "/styles/base";

.upcoming {
  margin: 50px;
  font-family: $primary-font;

  h2 {
    color: $primary-color;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .tournamentCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 150px
  }

  .viewMoreLink {
    text-align: right;
  }
}

@media screen and (max-width: 1280px) {
  .upcoming {
    margin: 10px;

    h2 {
      font-size: 40px;
      margin-bottom: 25px;
    }

    .tournamentCardContainer {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 1080px) {
  .upcoming {
    .tournamentCardContainer {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .upcoming {
    margin: 20px;

    h2 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    .tournamentCardContainer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px
    }

  }
}

@media screen and (max-width: 640px) {
  .upcoming {
    margin: 10px;

    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .tournamentCardContainer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px
    }

  }
}