@import "styles/base";

.container {
  width: $container-width;
  margin: $container-margin;
  text-align: center;
  font-family: $primary-font;

  .heading {
    h1 {
      font-size: $small-heading;
      color: $primary-color;
      text-transform: uppercase;
    }
  }

  .content {
    background-color: $darker-gray;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    img {
      width: 600px;
    }

    button {
      margin: 10px auto;
      display: block;
      height: 40px;
      line-height: 35px;
      font-size: $small-paragraph;
    }

    input:not([type='checkbox']) {
      display: block;
      width: 300px;
      margin: 20px 0;
      height: 50px;
      border: 2px solid $darker-gray;
      border-radius: 10px;
      color: $color-gray;
      text-align: center;
      font-size: $medium-paragraph;
      padding: 0 10px;
      background: $gray;

      &:hover {
        border: 2px solid $primary-color;
      }
    }

    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;

      input[type='checkbox'] {
        margin: 5px;
        height: 25px;
        padding: 20px;
        width: 15px;
      }

      label {
        font-size: $small-paragraph;
        color: $color-gray;
      }
    }


  }


}

@media screen and (max-width: 1280px) {

  .container {
    .content {
      img {
        width: 500px;
      }

      .checkbox {
        label {
          font-size: 10px;
        }
      }

    }
  }

}


@media screen and (max-width: 768px) {

  .container {
    .content {
      height: auto;
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 640px) {

  .container {
    .heading {
      h1 {
        font-size: $large-paragraph;
      }
    }

    .content {
      img {
        width: 250px;
      }

      button {
        width: 100%;
      }

    }
  }

}