@import '../../../styles/base';

.wrapper {
    
}

.connection {
  div {
    padding: 10px 0;
    background-color: $primary-color;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    margin-top: 15px;
    cursor: pointer;

    span {
      font-family: $primary-font;
      color: black;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.profile {

}