@import "styles/base";

.container {
  width: $container-width;
  margin: $container-margin;
  font-family: $primary-font;

  .banner {
    img {
      border-radius: 25px;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    margin: 0 50px;

    .profile {
      border: 2px solid $gray;
      border-radius: 10px;
      padding: 20px 40px;
      margin-top: -100px;
      z-index: 2;
      background-color: $black;

      .header {
        display: grid;
        grid-template-columns: 3fr 5fr 2fr;
        gap: 5px;
        align-items: center;

        .image {
          border: 2px solid $primary-color;
          border-radius: 11px;
          width: 80px;
          height: 80px;
          overflow: clip;
        }

        .bio {
          h3 {
            font-size: $large-paragraph;
            font-weight: 400;
            margin: 0;
          }

          p {
            font-size: 12px;
            text-transform: uppercase;
            color: $secondary-color;
            font-weight: 500;
            margin: 0;
          }

          span {
            margin-top: 5px;
            display: inline-block;
            background: $primary-color;
            font-size: 10px;
            color: $black;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 600;
          }
        }

        .rank {
          border: 1px solid $primary-color;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          background: $primary-color;
          rotate: 45deg;

          span {
            font-weight: 600;
            display: inline-block;
            rotate: 315deg;
          }
        }
      }

      button {
        width: 150px;
        height: 35px;
        font-size: $small-paragraph;
        text-transform: capitalize;
        border-radius: 5px;
      }

      .stats {

        .list {
          margin: 20px 0;

          .points, .performance, .ratio {
            border: 2px solid $gray;
            border-radius: 10px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            margin-top: 10px;
            font-size: 10px;
          }

          .points span {
            color: $primary-color;
          }

          .performance div {
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
              width: 15px;
              height: 15px;
            }
          }

          .ratio div {
            span:nth-of-type(1) {
              color: $primary-color;
            }

            span:nth-of-type(2) {
              color: $secondary-color;
            }
          }


        }
      }

      .leaderboard {
        .row {
          display: flex;
          font-size: 10px;
          gap: 5px;
          text-align: center;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px solid $primary-color;

          img {
            width: 50px;
            height: 50px;
          }

          .points span {
            color: $primary-color;
          }

          .performance div {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;

            svg {
              width: 15px;
              height: 15px;
            }
          }

          .ratio div {
            width: 100px;

            span:nth-of-type(1) {
              color: $primary-color;
            }

            span:nth-of-type(2) {
              color: $secondary-color;
            }
          }
        }
      }

    }

    .main {
      .heading {
        h1 {
          font-size: $medium-heading;
          text-transform: uppercase;
        }
      }

      .steps {

        .step {
          border-radius: 20px;
          display: grid;
          grid-template-columns: 1fr 3fr 2fr 1fr 2fr;
          align-items: center;
          justify-content: space-around;
          border: 2px solid $darker-gray;
          padding: 20px 50px;
          background-color: rgba($darker-gray, 0.7);
          margin: 20px 0;

          &:hover {
            background-color: rgba($secondary-color, 0.2);
          }

          .icon svg {
            width: 80px;
            height: 80px;

            path {
              fill: $primary-color;
            }
          }

          .heading {
            h3 {
              font-weight: 500;
              font-size: $large-paragraph;
              margin: 10px 0;
            }

            p {
              font-size: $small-paragraph;
              margin: 3px;
              font-weight: 100;
            }

          }

          .experience span {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: $small-paragraph;
            margin-bottom: 5px;
          }

          .ratio {
            font-weight: 500;

            span:nth-of-type(1) {
              color: $primary-color;
            }
          }

        }

      }

      .rewards {
        display: flex;
        gap: 50px;


        .reward {
          width: 200px;
          position: relative;

          .load {
            p {
              border: 2px solid $primary-color;
              padding: 5px 10px;
              font-weight: 600;
              text-transform: uppercase;
              font-size: $small-paragraph;
              color: $primary-color;
              margin-bottom: 0;
            }
          }

          .default, .ready, .loading, .disabled {
            border-radius: 10px 10px 10px 0;
            border: 2px solid $primary-color;
            overflow: clip;
            text-align: center;

            .informationIcon {
              text-align: right;
              position: absolute;
              right: 0;
              top: 0;

              svg {
                margin: 10px;
              }
            }

            .image {
              margin: 25px 25px 5px;
            }

            .text {
              text-transform: uppercase;
              color: $black;
              font-weight: 700;
              margin-bottom: 20px;

              p {
                font-size: $medium-paragraph;
                margin: 0;
              }

              h1 {
                font-size: $medium-heading;
                line-height: $medium-heading;
                margin: -5px;
              }
            }
          }

          .default {
            background-image: linear-gradient($black, $primary-color);
          }

          .ready {
            background-image: linear-gradient($black, $secondary-color);

            .text {
              h1 {
                font-size: $small-heading;
              }
            }
          }

          .loading {
            background-image: linear-gradient(rgba($primary-color, 1), rgba($secondary-color, 0.8));

            .text {
              h1 {
                font-size: $small-heading;
              }
            }
          }

          .disabled {
            background-image: linear-gradient($black, rgba($white, 0.5));
            border: 2px solid $light-gray;

            .informationIcon {
              svg {
                stroke: $darker-gray;

                path {
                  fill: $darker-gray;;
                }
              }
            }

            .image img {
              filter: grayscale(100%);
            }

            .text {
              h1 {
                font-size: $small-heading;
              }
            }
          }

        }


      }


      .tabsContainer {
        margin: 50px 0;

        .tabs {
          border-bottom: 1px solid $light-gray;
          padding-bottom: 10px;

          span {
            margin: 8px;
            font-size: 16px;
            border-bottom: 1px solid $light-gray;
            padding-bottom: 10px;
            color: $light-gray;
            cursor: pointer;
            transition: $transition;
          }

          span:hover, span.active {
            border-bottom: 1px solid $primary-color;
            color: white;
            font-weight: 700;
            transition: $transition;
          }
        }

        .tabsContent {
          margin: 20px 0;
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 25px;

          .gameStats, .contribution, .badgeWell {
            border-radius: 10px;
            border: 2px solid $gray;
            background-color: $darker-gray;
            padding: 30px;

            .heading {
              margin: 10px 0;

              h2 {
                margin: 0;
              }
            }
          }


          .gameStats {

            .statsCard {
              border-radius: 10px;
              border: 2px solid $gray;
              background-color: $darker-gray;
              width: 200px;
              padding: 10px;
              position: relative;

              .image {
                border-radius: 10px;
                overflow: clip;

                img {
                  filter: grayscale(100%);
                  opacity: 0.5;
                }
              }


              .stats {
                position: absolute;
                top : 30%;
                left: 20%;
                text-align: center;
                text-transform: uppercase;
                h1 {
                  font-size: $large-paragraph;
                  margin: 10px 0;
                }
                p {
                  font-size: $small-paragraph;
                  margin: 0;
                  font-weight: 500;
                  span {
                    color: $primary-color;
                  }
                }
              }

            }
          }


        }
      }

    }

  }

}