$primary-font: 'Montserrat';
$primary-color: #FFA73C;
$secondary-color: #D6FF00;
$black: #000000;
$light-gray: #373737;
$gray: #232529;
$darker-gray: #1A1D1F;


$white: #fff;
$transition: 0.3s;
$color-gray : #DBDBDB;

$container-margin: 30px auto;
$container-width: 90vw;

$heading-margin: 50px;
$large-heading: 56px;
$small-heading: 26px;
$medium-heading: 36px;

$large-paragraph: 20px;
$medium-paragraph: 17px;
$small-paragraph: 14px;
